/* color */
$color-blue: #8ecae6;
$color-yellow: #ffb703;
$color-green: #2a9d8f;
$color-red: #c1121f;
$color-dark: #1b263b;
$color-light: #edede9;

/* font */
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Playwrite US Trad', cursive;
$font-small: 1rem;
$font-medium: 2rem;
$font-big: 3rem;
